<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{include  title="添加Tag" file="common/head"}
<body>
{include file="common/header"}
<!-- 主体区域 -->
<div class="layui-main">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>添加Tag内容</legend>
    </fieldset>
      <div class="layui-form" style="width:100%;">
        <div class="layui-form-item" style="width:40%;">
          <label class="layui-form-label">所属栏目</label>
          <div class="layui-input-block">
            <select id="categoryId" lay-verify="required">
              {volist name="Type" id="vo"}
              <option value="{$vo.id}">{$vo.name}</option>
              {/volist}
            </select>
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">Tag类型</label>
          <div class="layui-input-block">
            <input type="radio" id="sex" name="sex" value="1" title="详情页" checked="">
            <input type="radio" id="sex" name="sex" value="2" title="图片列表">
            <input type="radio" id="sex" name="sex" value="3" title="新闻">
            <input type="radio" id="sex" name="sex" value="4" title="招聘">
            <input type="radio" id="sex" name="sex" value="5" title="表单">
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">Tag名称</label>
          <div class="layui-input-block">
            <input type="text" id="title" required placeholder="请输入Tag内容标题" class="layui-input">
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">Tag副标题</label>
          <div class="layui-input-block">
            <input type="text" id="subtitle" required placeholder="请输入Tag内容标题" class="layui-input">
          </div>
        </div>

        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" onclick="formSubmission()" lay-submit lay-filter="formDemo">立即提交</button>
          </div>
        </div>
    </div>

</div>
{include file="common/footer"}
<script src="__ADMIN__/js/base.js"></script>
<script type="text/javascript">
  //监听提交
function formSubmission(){
    var params = {
        url:"{:url('Tags/addData')}",
        type:'post',
        data:{
            title:$('#title').val(),
            desc:$('#desc').val(),
            category_id:$('#categoryId').val(),
            subtitle: $('#subtitle').val(),
            type:$("[id='sex']:checked").val()
        },
        sCallback:function (res) {
            if(res == true){
                layer.msg('添加成功', {icon: 6,time:1200,shade: [0.3, '#000']},function(){
                    window.history.back(-1);
                });
            }else{
                layer.msg(res, {icon: 5,time:1200,shade: [0.3, '#000']});
            }
        }
    };
    window.base.getData(params);
}
</script>
</body>
</html>