<!--右侧-->
<div class="suspension">
    <a class="consult" target="_blank" title="在线客服">
        <div class="suspension-list" style="display:none;">
            <div class="suspension-list-content">
                <ul>
                    <li>
                        <div href="javascript:;" class="service-phone">
                            <span class="info-name">客服热线</span>
                            <span class="info-value">{$systems.telephone}</span>
                        </div>
                    </li>

                    <li class="suspension-list-bottom">
                        <div href="javascript:;" class="service-proposal">
                            <span class="info-name">投诉与建议</span>
                            <span class="info-value">最快10分钟内回应</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </a>
    <a class="cart" title="关注微信公众账号">
        <div class="pic">
            <div class="pic-content"></div>
        </div>
    </a>
    <a href="javascript:void(0)" class="back-top" style="display: block;" title="返回顶部"></a>
</div>
<div class="footer">
    <div class="w1200">
        <span class="fl">版权所有 © 2018 DZ8.TW<sup>TM</sup> 广东诚安时代建设有限公司</span>
        <span class="fr">ALL RIGHTS RESERVED {$systems.icp_record}</span>
    </div>
</div>